body {
    background-color: rgb(49, 49, 49);
    /* font-size: 1.5em; */
    color: rgb(221, 221, 221);
    font-family: 'Exo', sans-serif;
    /* text-align: center; */
}
.card {
    background-color: rgb(49, 49, 49);
    border: none;
}
@keyframes name {
    from {opacity: 0;}
    to {opacity: 100;}
}
span#name {
    animation-name: name;
    animation-duration: 5s;
}
div#projects {
    margin-top: 5em;
}
img#pic {
    width: 7em;
    /* border: .2em solid rgba(221, 221, 221, 0.6); */
    border-radius: 1em;
    position: absolute;
    right:0;
    top:0;
    z-index: 1;
}
@media (max-width:629px) {
    img#pic {
      display: none;
    }
  } 
img#logo {
    width: 5em;
    /* border: .2em solid rgb(255, 115, 0); */
    /* border-radius: 1em; */
}
.card > img {
    width: 15em;
    margin: 0 auto;
}